<%- contentFor("title") %>
New Cuisine Creation

<%- contentFor("body") %>
<form method = "POST">
    <div>
        <label>Cuisine Name</label>
        <input type = "text" class = "form-control" name = "cuisine_name" required/>
    </div>

    <button type = "submit" class = "btn btn-primary mt-3">Submit</button>
</form> 