<%- contentFor("title") %>
User Creation

<%- contentFor("body") %>
<form method = "POST">
    <div>
        <label>User Mobile Number</label>
        <input type = "text" class = "form-control" name = "mobile_number" required/>
    </div>
        <div>
        <label>Password</label>
        <input type = "text" class = "form-control" name = "pwd" required/>
    </div>
    

    <button type = "submit" class = "btn btn-primary mt-3">Submit</button>
</form> 